deploy_composer:
  only:
    - tags
  stage: test
  script:
    - echo "https://__token__:${DEPLOY_TOKEN}@gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/composer"
    - curl -sS --show-error --fail --data tag=${CI_COMMIT_TAG} "https://__token__:${DEPLOY_TOKEN}@gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/composer"


pages:
  image: node:9.11.1
  cache:
    paths:
      - node_modules/
  script:
    - yarn install
    - yarn run docs:build
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - docs/**/*